@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

/* DEFAULT STYLES */

:root {
    /* Colors */
    --primary-color: #ACC435;
    --secondary-color: #325B30;
    --tertiary-color: #E4EABD;
    --background-color-bright: #FFFFFF;
    --background-color-dark: rgb(247, 247, 247);;

    --text-color: var(--secondary-color);
    --link-hover-color: var(--primary-color);

    --button-default-text-color: var(--background-color-bright);
    --button-bordered-text-color: var(--primary-color);
    --button-default-background-color: var(--primary-color);
    --button-overlay-color: rgba(0, 0, 0, 0.1);

    /* Typography */
    --font-family-default: 'Michroma', sans-serif;
    --font-size-default: 15px;
    --font-size-medium: 17px; /* Used in hero section */
    --font-size-big: 19px; /* Used for normal headings */
    --font-size-large: 21px; /* Used for bigger headings */
    --font-size-xl: 30px; /* Used for quotes */
    --font-size-heading-xxl: 60px; /* Used in hero section */
    --font-weight-default: 400;
    --font-weight-bold: 700;

    /* Borders */
    --border-radius: 5px;
    --border-thickness: 3px;

    /* Transitions */
    --transition-button: all .3s ease-in-out;
    --transition-hover-effect: all .3s ease-in-out;
    --transition-hamburger-bar: all 0.3s ease-in-out;
    --transition-nav: all 0.3s ease-in-out;

    /* Z-Index */
    --z-index-default-overlay: 1;
    --z-index-default-foreground: 2;
    --z-index-header: 500;
    --z-index-button-background: 1000;
    --z-index-button-overlay: 1001;
    --z-index-button-text: 1002;

    /* Breakpoints */


    /* Custom */
    --header-height: 90px;

    --_button-padding-default-vertical: 15px;
    --_button-padding-default-horizontal: 21px;
    --_button-padding-small-vertical: 12px;
    --_button-padding-small-horizontal: 18px;
    --_button-padding-big-vertical: 18px;
    --_button-padding-big-horizontal: 24px;

    --button-padding-default: var(--_button-padding-default-vertical) var(--_button-padding-default-horizontal);
    --button-padding-small: var(--_button-padding-small-vertical) var(--_button-padding-small-horizontal);
    --button-padding-big: var(--_button-padding-big-vertical) var(--_button-padding-big-horizontal);

    --button-bordered-padding-default: 
        calc(var(--_button-padding-default-vertical) - var(--border-thickness))
        calc(var(--_button-padding-default-horizontal) - var(--border-thickness));
    --button-bordered-padding-small: 
        calc(var(--_button-padding-small-vertical) - var(--border-thickness))
        calc(var(--_button-padding-small-horizontal) - var(--border-thickness));
    --button-bordered-padding-big: 
        calc(var(--_button-padding-big-vertical) - var(--border-thickness))
        calc(var(--_button-padding-big-horizontal) - var(--border-thickness));
}

* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, p, a {
    font-family: var(--font-family-default);
	font-weight: var(--font-weight-default);
    font-size: var(--font-size-default);
    color: var(--text-color);
}

h1 { font-size: var(--font-size-heading-xxl); } /* Big headings (hero section) */
h2 { font-size: var(--font-size-xl);} /* Quotes */
h3 { font-size: var(--font-size-large); } /* Bigger headings */
h4 { font-size: var(--font-size-big); } /* Normal headings */
.paragraph--medium-size { font-size: var(--font-size-medium); }

a { text-decoration: none; }

.bold { font-weight: var(--font-weight-bold); }

.btn {
    position: relative;
    padding: var(--button-padding-default);
    border-radius: var(--border-radius);
    background-color: var(--button-default-background-color);
    user-select: none;
    text-align: center;
    z-index: var(--z-index-button-background);
}

.btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: var(--border-radius);
    background-color: var(--button-overlay-color);
    z-index: var(--z-index-button-overlay);
    transition: var(--transition-button);
}

.btn:hover::after { width: 100%; }

.btn__text {
    position: relative;
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    color: var(--button-default-text-color);
    z-index: var(--z-index-button-text);
    transition: var(--transition-button);
}

.btn__icon { margin-left: 10px; }

.btn--bordered { 
    padding: var(--button-bordered-padding-default);
    background-color: transparent;
    border: var(--border-thickness) solid var(--button-default-background-color);  
}

.btn--bordered:hover::after { width: 0; }

.btn--bordered:hover .btn__text { color: var(--button-bordered-text-color); }

.btn--small { padding: var(--button-padding-small) }
.btn--big { padding: var(--button-padding-big) }

.btn--bordered.btn--small { padding: var(--button-bordered-padding-small) }
.btn--bordered.btn--big { padding: var(--button-bordered-padding-big) }

section { padding: 30px 0; }

/* NORMAL STYLES */

header {
    /* position: sticky; */
    /* top: 0; */
    height: var(--header-height);
    background-color: var(--background-color-bright);
    z-index: var(--z-index-header);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 30px;
}

.logo__img { height: 65px }

nav { height: 100%; }

.nav__list {
    display: flex;
    column-gap: 50px;
    height: 100%;
}

.nav__item {
    display: flex;
    align-items: center;
    list-style: none;
}

.hover-effect { position: relative; }

.hover-effect .nav__link { transition: var(--transition-hover-effect); }

.hover-effect::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 5px;
    background-color: var(--primary-color);
    transition: var(--transition-hover-effect);
}

.hover-effect:hover .nav__link { color: var(--primary-color); }

.hover-effect:hover::after { width: 100%; }

.link--active .nav__link { color: var(--primary-color); }
.link--active::after { width: 100%; }

.nav__link:not(.btn) {
    height: 100%;
    display: flex;
    align-items: center;
}

.hamburger { 
    display: none;
    cursor: pointer;
}

.hamburger__bar {
    width: 27px;
    height: 3px;
    margin: 5px 0;
    background-color: var(--primary-color);
    transition: var(--transition-hamburger-bar);
}


#hero {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
    height: calc(100vh - var(--header-height));
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: var(--z-index-default-background);
}

#hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
    z-index: var(--z-index-default-overlay);
}

#hero > * {
    position: relative;
    z-index: var(--z-index-default-foreground);
}

.hero__content {
    width: 50%;
    margin-left: 175px;
}

.hero__heading { color: var(--background-color-bright); }

.hero__text {
    color: var(--background-color-bright);
    width: 70%;
    margin: 30px 0;
}

#hero .btn { display: inline-block; }
#hero .btn--bordered { margin-left: 30px; }

#intro {
    display: flex;
    justify-content: center; 
    background-color: var(--background-color-bright);
}

.intro__content { 
    max-width: 1200px;
    margin: 0 25px;
}

.intro__flex-box {
    display: flex;
    gap: 150px;
}

.intro__heading { color: var(--primary-color); }

#quote {
    position: relative;
    background-image: url("../images/background.jpg");
}

#quote::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 0.5 */
}

/* FOR JAVASCRIPT */

.nav--open { transform: translateX(0) !important; }

.hamburger--open .hamburger__bar:nth-child(1) { transform: translateY(8px) rotate(45deg); }
.hamburger--open .hamburger__bar:nth-child(2) { opacity: 0; }
.hamburger--open .hamburger__bar:nth-child(3) { transform: translateY(-8px) rotate(-45deg); }

/* MEDIA QUERIES */

@media (max-width: 750px) {  
    :root { --_header-padding-horizontal: 90px; }

    .btn { padding: var(--button-padding-small); }
    .btn--bordered { padding: var(--button-bordered-padding-small) }

    header { position: relative; }

    .header-content { padding: 0 var(--_header-padding-horizontal); }
    
    nav { 
        position: absolute;
        box-sizing: border-box;
        top: var(--header-height);
        left: 0;
        transform: translateX(-100%);
        width: 100%;
        height: auto;
        padding: 0 var(--_header-padding-horizontal) 20px var(--_header-padding-horizontal);
        background-color: var(--background-color-bright);
        transition: var(--transition-nav);
    }
    
    .nav__list {
        flex-direction: column;
        row-gap: 0px;        
    }

    .nav__item { height: auto; }
    
    .hover-effect::after { 
        width: 100%;
        height: 1px;
    }
    
    .nav__link { 
        width: 100%;
        padding: 15px 0;
        font-size: large;
    }

    nav .btn { margin-top: 15px; }
    
    .hamburger { display: block; }
}

@media (max-width: 600px) {
    header { height: 75px; }

    .header-content { padding: 0 45px; }

    .logo__img { height: 45px; }

    nav { 
        top: 75px;
        padding: 0 45px 20px 45px;
    }
}
