@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

/* BASE STYLES */

:root {
    /* Colors */
    --primary-color: #ACC435;
    --secondary-color: #325B30;
    --tertiary-color: #E4EABD;

    --background-color: #FFFFFF;
    --text-color: var(--secondary-color);
    --link-hover-color: var(--primary-color);

    --button-base-text-color: var(--background-color);
    --button-bordered-text-color: var(--primary-color);
    --button-base-background-color: var(--primary-color);
    --button-overlay-color: rgba(0, 0, 0, 0.1);

    /* Typography */
    --font-family-base: 'Michroma', sans-serif;
    --font-size-base: normal;
    /* --font-size-large: 24px;
    --font-size-small: 12px; */
    --font-size-heading: 60px;
    --font-weight-normal: 400;
    --font-weight-bold: 700;

    /* Borders */
    --border-radius: 5px;
    --border-thickness: 3px;

    /* Transitions */
    --transition-button: all .3s ease-in-out;
    --transition-hover-effect: all .3s ease-in-out;
    --transition-hamburger-bar: all 0.3s ease-in-out;
    --transition-nav: transform 0.3s ease-in-out;

    /* Z-Index */
    --z-index-base-overlay: 1;
    --z-index-base-foreground: 2;
    --z-index-header: 500;
    --z-index-button-background: 1000;
    --z-index-button-overlay: 1001;
    --z-index-button-text: 1002;

    /* Breakpoints */


    /* Custom */

    --header-height: 90px;

    /* padding: 15px 21px; */
    /* 18px 24px */
    --button-padding-base-vertical: 15px;
    --button-padding-base-horizontal: 21px;

    --button-padding-base: 
        var(--button-padding-base-vertical) 
        var(--button-padding-base-horizontal);
    --button-padding-bordered: 
        calc(var(--button-padding-base-vertical) - var(--border-thickness))
        calc(var(--button-padding-base-horizontal) - var(--border-thickness));
}

* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, p, a {
    font-family: var(--font-family-base);
	font-weight: var(--font-weight-normal);
    color: var(--text-color);
}

h1 { font-size: var(--font-size-heading); }

a { text-decoration: none; }

.btn {
    position: relative;
    padding: var(--button-padding-base);
    border-radius: var(--border-radius);
    background-color: var(--button-base-background-color);
    user-select: none;
    text-align: center;
    z-index: var(--z-index-button-background);
}

.btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: var(--border-radius);
    background-color: var(--button-overlay-color);
    z-index: var(--z-index-button-overlay);
    transition: var(--transition-button);
}

.btn:hover::after { width: 100%; }

.btn__text {
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--button-base-text-color);
    z-index: var(--z-index-button-text);
    transition: var(--transition-button);
}

.btn__icon { margin-left: 10px; }

.btn--bordered { 
    padding: var(--button-padding-bordered);
    background-color: transparent;
    border: var(--border-thickness) solid var(--button-base-background-color);
}

.btn--bordered:hover::after { width: 0; }

.btn--bordered:hover .btn__text { color: var(--button-bordered-text-color); }

/* NORMAL STYLES */

header {
    /* position: sticky; */
    /* top: 0; */
    height: var(--header-height);
    background-color: var(--background-color);
    z-index: var(--z-index-header);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.logo__img { height: 65px }

nav { height: 100%; }

.nav__list {
    display: flex;
    column-gap: 50px;
    height: 100%;
}

.nav__item {
    display: flex;
    align-items: center;
    list-style: none;
}

.hover-effect { position: relative; }

.hover-effect .nav__link { transition: var(--transition-hover-effect); }

.hover-effect::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 5px;
    background-color: var(--primary-color);
    transition: var(--transition-hover-effect);
}

.hover-effect:hover .nav__link { color: var(--primary-color); }

.hover-effect:hover::after { width: 100%; }

.active .nav__link { color: var(--primary-color); }
.active::after { width: 100%; }

.nav__link:not(.btn) {
    height: 100%;
    display: flex;
    align-items: center;
}

.hamburger { 
    display: none;
    cursor: pointer;
}

.hamburger__bar {
    width: 27px;
    height: 3px;
    margin: 5px 0;
    background-color: var(--primary-color);
    transition: var(--transition-hamburger-bar);
}



.hero {
    position: relative;
    display: flex;
    align-items: center;
    height: calc(100vh - var(--header-height));
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: var(--z-index-base-background);
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
    z-index: var(--z-index-base-overlay);
}

.hero > * {
    position: relative;
    z-index: var(--z-index-base-foreground);
}

.hero__content {
    width: 50%;
    margin-left: 200px;
}

.hero__heading {
    color: var(--background-color);
    font-weight: var(--font-weight-bold);
}

.hero__text {
    color: var(--background-color);
    width: 70%;
    margin: 30px 0;
}

.hero .btn { display: inline-block; }
.hero .btn--bordered { margin-left: 30px; }

/* FOR JAVASCRIPT */

.nav--open { transform: translateX(0) !important; }

.hamburger--open .hamburger__bar:nth-child(1) { transform: translateY(8px) rotate(45deg); }

.hamburger--open .hamburger__bar:nth-child(2) { opacity: 0; }

.hamburger--open .hamburger__bar:nth-child(3) { transform: translateY(-8px) rotate(-45deg); }

/* MEDIA QUERIES */

@media (max-width: 750px) {  
    :root {
        --header-padding-horizontal: 90px;
    }

    .btn { padding: 7px 21px; }

    header { position: relative; }

    .header-content { padding: 0 var(--header-padding-horizontal); }
    
    nav { 
        position: absolute;
        box-sizing: border-box;
        top: var(--header-height);
        left: 0;
        transform: translateX(-100%);
        width: 100%;
        height: auto;
        padding: 0 var(--header-padding-horizontal) 20px var(--header-padding-horizontal);
        background-color: var(--background-color);
        transition: var(--transition-nav);
    }
    
    .nav__list {
        flex-direction: column;
        row-gap: 0px;        
    }

    .nav__item { height: auto; }
    
    .hover-effect::after { 
        width: 100%;
        height: 1px;
    }
    
    .nav__link { 
        width: 100%;
        padding: 15px 0;
        font-size: large;
    }

    nav .btn { margin-top: 15px; }
    
    .hamburger { display: block; }
}

@media (max-width: 600px) {
    header { height: 75px; }

    .header-content { padding: 0 45px; }

    .logo__img { height: 45px; }

    nav { 
        top: 75px;
        padding: 0 45px 20px 45px;
    }
}
